<a [routerLink]="['/product', product.id]" routerLinkActive="router-link-active">


    <div class=" h-auto bg-white rounded shadow-md my-4 relative">
        <!-- Product Image -->
        <img class="w-full h-64 object-cover" [src]="product.thumbnail" alt="Product Image">
        <!-- <div class="flex flex-col gap-3 absolute top-3 right-3 ">
            @for(img of p.images; track img) {
            <img [src]="img" alt="" class="w-8 h-8 ring-1 ring-offset-2 rounded-sm">
            }
        </div> -->

        <div class="px-6 py-4">
            <!-- Product Title -->
            <div class="font-bold text-md ">{{product.title}}</div>

            <!-- Product Description -->
            <p class="text-gray-700 text-base truncate">Характеристики</p>

            <!-- Product Price -->
            <p class="text-gray-800 font-bold text-xl ">1999 р</p>
        </div>

        <!-- Add to Cart Button -->
        <!-- <div class="px-6 py-4 flex justify-between">
            <button (click)="detailProd(product)"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline">
                Add to Cart
            </button>
        </div> -->
    </div>
</a>